<header class="site-header" role="banner">
  <div class="wrapper-l">
    <div class="header">
      <a class="header__logo" href="/">
        <img src="{{ '/assets/mindi-logo-official.svg' | relative_url }}" alt="Mindi logo" width="115" class="banner__logo">
      </a>
      <div class="header__actions">
        <a href="https://mindi.ai/blog" class="header__link">Blog</a>
        <a href="https://app.mindi.ai/login" target="_blank" class="header__link header__link--login">Log In</a>
        <a class="header__link header__link--highlighted" href="https://app.mindi.ai/signup">Sign Up</a>
      </div>
    </div>
  </div>
</header>